#help{
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
    font-size: 20px;

}
#help1{
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
    font-size: 20px;

}
#aa{
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
    width: 1000px;
    height: 600px;
    /*background-color: #3399FF;*/
    position: absolute;
    left: 400px;
    top: 100px;
    margin: 10px;
    line-height: 2.5;
}
#bb{
    background-image: url("../img/bg.gif");
    background-repeat: no-repeat;
    background-position: center top;
}
#cc{
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
}
#dd{
   position: absolute;
    left: 500px;
   bottom: 60px;
}
img{
    width: 20px;
    height: 20px;
    position: absolute;
}
